/* 

Abril Titling
Helvetica Neue
Tekton Pro

logirent
museo

 */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/calling-heart');
@import url('https://fonts.cdnfonts.com/css/nexa');
@import url('https://fonts.cdnfonts.com/css/aileron');
@import url('https://fonts.cdnfonts.com/css/army-rust');
@import url('https://fonts.cdnfonts.com/css/bebas-kai');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/arial');
@import url('https://fonts.cdnfonts.com/css/gill-sans-std');
@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url('https://fonts.cdnfonts.com/css/calibri-light');
@import url('https://fonts.cdnfonts.com/css/hack');
@import url('https://fonts.cdnfonts.com/css/military-poster');
@import url('https://fonts.cdnfonts.com/css/monaco');
@import url('https://fonts.cdnfonts.com/css/molle');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.cdnfonts.com/css/prosto-sans');

.abel {font-family: 'Abel', sans-serif;}
.aileron {font-family: 'Aileron', sans-serif;}
.aleo {font-family: 'Aleo', serif;}
.allerta {font-family: 'Allerta', sans-serif;}
.amaranth {font-family: 'Amaranth', sans-serif;}
.amatic-sc {font-family: 'Amatic SC', cursive;}
.arbutus-slab {font-family: 'Arbutus Slab', serif;}
.archivo {font-family: 'Archivo', sans-serif;}
.arial {font-family: 'Arial', sans-serif;}
.arial-black {font-family: 'Arial Black', sans-serif;}
.arial-ce {font-family: 'Arial CE', sans-serif;}
.arial-ce-mt-black {font-family: 'Arial CE MT Black', sans-serif;}
.arial-light {font-family: 'Arial Light', sans-serif;}
.arizonia {font-family: 'Arizonia', cursive;}
.army-rust {font-family: 'Army Rust', serif;}
.artifika {font-family: 'Artifika', serif;}
.asap {font-family: 'Asap', sans-serif;}
.asul {font-family: 'Asul', sans-serif;}
.audiowide {font-family: 'Audiowide', cursive;}
.avenir {font-family: 'Avenir', sans-serif;}
.barlow {font-family: 'Barlow', sans-serif;}
.baumans {font-family: 'Baumans', cursive;}
.be-vietnam-pro {font-family: 'Be Vietnam Pro', sans-serif;}
.bebas-kai {font-family: 'Bebas Kai', sans-serif;}
.bebas-neue {font-family: 'Bebas Neue', cursive;}
.belgrano {font-family: 'Belgrano', cursive;}
.benchnine {font-family: 'BenchNine', sans-serif;}
.berkshire-swash {font-family: 'Berkshire Swash', cursive;}
.black-ops-one {font-family: 'Black Ops One', cursive;}
.cabin {font-family: 'Cabin', sans-serif;}
.calibri {font-family: 'Calibri', sans-serif;}
.calling-heart {font-family: 'Calling Heart', cursive;}
.catamaran {font-family: 'Catamaran', sans-serif;}
.changa-one {font-family: 'Changa One', sans-serif;}
.cinzel {font-family: 'Cinzel', serif;}
.cinzel-decorative {font-family: 'Cinzel Decorative', cursive;}
.condiment {font-family: 'Condiment', cursive;}
.cormorant {font-family: 'Cormorant', serif;}
.coustard {font-family: 'Coustard', serif;}
.days-one {font-family: 'Days One', sans-serif;}
.dosis {font-family: 'Dosis', sans-serif;}
.encode-sans-semi-condensed {font-family: 'Encode Sans Semi Condensed', sans-serif;}
.exo-2 {font-family: 'Exo 2', sans-serif;}
.expletus-sans {font-family: 'Expletus Sans', sans-serif;}
.fira-sans {font-family: 'Fira Sans', sans-serif;}
.fjalla-one {font-family: 'Fjalla One', sans-serif;}
.francois-one {font-family: 'Francois One', sans-serif;}
.futura-std {font-family: 'Futura Std', sans-serif;}
.gill-sans-std {font-family: 'Gill Sans Std', sans-serif;}
.gravitas-one {font-family: 'Gravitas One', serif;}
.hack {font-family: 'Hack', sans-serif;}
.hind {font-family: 'Hind', sans-serif;}
.homenaje {font-family: 'Homenaje', sans-serif;}
.iceberg {font-family: 'Iceberg', cursive;}
.inconsolata {font-family: 'Inconsolata', monospace;}
.jaldi {font-family: 'Jaldi', sans-serif;}
.jomolhari {font-family: 'Jomolhari', serif;}
.josefin-sans {font-family: 'Josefin Sans', sans-serif;}
.junge {font-family: 'Junge', serif;}
.jura {font-family: 'Jura', sans-serif;}
.kanit {font-family: 'Kanit', sans-serif;}
.karla {font-family: 'Karla', sans-serif;}
.karma {font-family: 'Karma', serif;}
.knewave {font-family: 'Knewave', cursive;}
.lalezar {font-family: 'Lalezar', cursive;}
.lato {font-family: 'Lato', sans-serif;}
.lobster {font-family: 'Lobster', cursive;}
.lora {font-family: 'Lora', serif;}
.marcellus-sc {font-family: 'Marcellus SC', serif;}
.marvel {font-family: 'Marvel', sans-serif;}
.military-poster { font-family: 'Military Poster', sans-serif;}
.miltonian {font-family: 'Miltonian', cursive;}
.molle {font-family: 'Molle', cursive;}
.monaco {font-family: 'Monaco', sans-serif;}
.montserrat {font-family: 'Montserrat', sans-serif;}
.montserrat-alternates {font-family: 'Montserrat Alternates', sans-serif;}
.mulish {font-family: 'Mulish', sans-serif;}
.nanum-myeongjo {font-family: 'Nanum Myeongjo', serif;}
.neucha {font-family: 'Neucha', cursive;}
.news-cycle {font-family: 'News Cycle', sans-serif;}
.nexa {font-family: 'Nexa', sans-serif;}
.noto-sans {font-family: 'Noto Sans', sans-serif;}
.nunito {font-family: 'Nunito', sans-serif;}
.open-sans {font-family: 'Open Sans', sans-serif;}
.overlock {font-family: 'Overlock', cursive;}
.oxygen {font-family: 'Oxygen', sans-serif;}
.patrick-hand {font-family: 'Patrick Hand', cursive;}
.pattaya {font-family: 'Pattaya', cursive;}
.paytone-one {font-family: 'Paytone One', sans-serif;}
.poppins {font-family: 'Poppins', sans-serif;}
.prata {font-family: 'Prata', serif;}
.prosto-sans {font-family: 'Prosto Sans', sans-serif;}
.proxima-nova-condensed {font-family: 'Proxima Nova Condensed', sans-serif;}
.proxima-nova-extra-condensed {font-family: 'Proxima Nova Extra Condensed', sans-serif;}
.pt-sans {font-family: 'PT Sans', sans-serif;}
.questrial {font-family: 'Questrial', sans-serif;}
.quicksand {font-family: 'Quicksand', sans-serif;}
.rajdhani {font-family: 'Rajdhani', sans-serif;}
.rakkas {font-family: 'Rakkas', cursive;}
.raleway {font-family: 'Raleway', sans-serif;}
.rasa {font-family: 'Rasa', serif;}
.roboto {font-family: 'Roboto', sans-serif;}
.romanesco {font-family: 'Romanesco', cursive;}
.sanchez {font-family: 'Sanchez', serif;}
.sansita-swashed {font-family: 'Sansita Swashed', cursive;}
.satisfy {font-family: 'Satisfy', cursive;}
.share {font-family: 'Share', sans-serif;}
.share-tech {font-family: 'Share Tech', sans-serif;}
.share-tech-mono {font-family: 'Share Tech Mono', monospace;}
.source-code-pro {font-family: 'Source Code Pro', monospace;}
.source-sans-3 {font-family: 'Source Sans 3', sans-serif;}
.special-elite {font-family: 'Special Elite', cursive;}
.spectral {font-family: 'Spectral', serif;}
.spectral-sc {font-family: 'Spectral SC', serif;}
.stylish {font-family: 'Stylish', sans-serif;}
.sulphur-point {font-family: 'Sulphur Point', sans-serif;}
.teko {font-family: 'Teko', sans-serif;}
.text-me-one {font-family: 'Text Me One', sans-serif;}
.ubuntu {font-family: 'Ubuntu', sans-serif;}
.uncial-antiqua {font-family: 'Uncial Antiqua', cursive;}
.work-sans {font-family: 'Work Sans', sans-serif;}
.yrsa {font-family: 'Yrsa', serif;}
.zilla-slab {font-family: 'Zilla Slab', serif;}
